.body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*https://www.w3schools.com/howto/howto_css_disable_text_selection.asp*/
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.gameInfo {
    display: flex;
    justify-content: space-around;
    height: 50px;
    font-size: 20pt;
}

.gameInfo span:hover {
    cursor: default; 
}

.board {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    width: fit-content;
    border: 5px solid purple;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid purple;
    background-color: blueviolet;
    font-size: 20pt;
    width: 3em;
    height: 3em;
}

.tile:hover {
    cursor: default;
}

.empty {
    background-color: white;
}

@media screen and (max-width: 400px) {
    .gameInfo {
        font-size: 1.8vh;
    }
    
    .tile {
        width: 3rem;
        height: 3rem;
    }

    .tile span {
        font-size: 2rem;
    }
}

@media screen and (min-width: 401px) and (max-width: 679px) {
    .gameInfo {
        font-size: 2vh;
    }
    
    .tile {
        width: 5rem;
        height: 5rem;
    }

    .tile span {
        font-size: 2rem;
    }
}

@media screen and (min-width: 680px) and (max-width: 1023px) {
    .gameInfo {
        font-size: 2vh;
    }
    
    .tile {
        width: 6.5rem;
        height: 6.5rem;
    }

    .tile span {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
    .gameInfo {
        font-size: 2.5vh;
    }
    
    .tile {
        width: 8rem;
        height: 8rem;
    }

    .tile span {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1920px) {
    .gameInfo {
        font-size: 3vh;
    }
    
    .tile {
        width: 10rem;
        height: 10rem;
    }

    .tile span {
        font-size: 2.5rem;
    }
}